header {
  position: fixed;
  width: 100vw;
  height: 10rem;
  background-color: var(--black-translucent);
  display: flex;
  justify-content: space-around;

  user-select: none;
  -moz-user-select: -moz-none;

  img {
    cursor: pointer;
  }

  img,
  a {
    -webkit-user-drag: none;
  }

  #hamburger-menu {
    display: none;
    width: 6rem;
    height: 10rem;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    margin-right: 4rem;
    .bar {
      height: 0.7rem;
      width: 100%;
      background-color: var(--grey-light);
      display: block;
      border-radius: 0.5rem;
      transition: 0.3s ease;
    }

    #bar-1 {
      transform: translateY(-.8rem);
    }

    #bar-3 {
      transform: translateY(.8rem);
    }

    .active#bar-1 {
      transform: translateY(.8rem) rotateZ(-45deg);
    }

    .active#bar-2 {
      opacity: 0;
    }

    .active#bar-3 {
      transform: translateY(-.6rem) rotateZ(45deg);
    }
  }

  nav {
    font-size: 3rem;
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    a {
      color: var(--grey-light);
      padding: 2rem 4rem;
      font-weight: bold;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }

      &.nav-active {
        background: linear-gradient(
          180deg,
          #038c33 0%,
          #a9aa13 73.5%,
          #f2b705 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  @media screen and (max-width: 950px) {

    justify-content: space-between;

    #hamburger-menu {
     display: flex;
    }

    nav {
      font-size: 2.5rem;
      background-color: var(--black-translucent);
      width: 22rem;
      flex-direction: column;
      position: fixed;
      top: 10rem;
      right: -22rem;
      transition: .3s ease;
    }

    nav.active{
      right: 0;
    }

    a {
      width: 22rem;
      border-top: 0.1rem black solid;
    }

    a:hover {
      transform: none;
      font-size: 3rem;
    }
  }
}
