footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 4rem;
  height: 20rem;
  width: 100vw;
  background-color: var(--principal-green);

  p, a {
    font-weight: bold;
    color: var(--grey-light);
    text-shadow: .3rem .3rem .5rem #00000080;
  }

  a {
    transition: .3s ease-in;
    margin-bottom: 4rem;
  }

  a:hover {
    filter: brightness(.8);
  }

  #images-containter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;

    img {
      height: 6rem;
      cursor: pointer;
      transition: .3s ease-in-out;
    }

    img:hover {
      filter: brightness(.8);
      transform: scale(1.1);
    }
  }

}
