@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --principal-green: #038c33;
  --principal-yellow: #f2b705;
  --grey-light: #F0F0F0;
  --black-translucent: #00000073; /* Header com opacidade */
  --landing-background: #d9e8f0; /* Cor clara do fundo da landing page */
}



*{
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html{
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container{
  padding: 10rem 0 20rem 0;
}
